.conteudo {
	-fx-background-color: black;
	-fx-fonte-family: Oswald;
	-fx-text-fill: #eee;
}

.titulo {
	-fx-text-fill: #5712b4;
	-fx-font-size: 36px;
}

.numero {
	-fx-text-fill: #eee;
	-fx-font-size: 28px;
}

.botoes {
	-fx-background-color: #fff;
	-fx-text-fill: #48b2ee;
	-fx-font-size: 28px;
	-fx-min-widht: 60px;
	-fx-min-height: 60px;
	-fx-background-radius: 30px; 
}

.verde {
	-fx-text-fill: #00ff00;
}

.vermelho {
	-fx-text-fill: #ff0000;
}